body {
  background-color: black;
}

.postsub {
  text-align: center;
}

.radiolabels {
  text-align: center;
}

.radiodiv label {
  display: block;
}

#banner {
  text-align: center;
}

.resultsbtn {
  display: block;
  margin: auto;
  margin-top: 100px;
}

#resultsdiv {
  color: white;
}

#imgdiv {
  display: none;
}
#imgdiv img {
  height: 300px;
  width: auto;
}
